.container {
    text-align: center;
    padding: 60px 20px;
    background-color: #f0f0f0;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title {
    font-size: 4rem;
    color: var(--secondary-color);
}

.gif {
    width: 300px;
    height: auto;
    margin: 30px auto;
}

.button {
    display: inline-block;
    background-color: #51b589;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3d9c73;
}
